button {
    padding: 5px 25px 5px 25px;
    border-radius: 5px;    
    font-size: 15px;    
    border: 1px solid #5DA130;
    cursor: pointer; 
    background-color: white;
}

button:active{
    background-color: aliceblue;
}

input {
    font-size: 15px;
    border: none;
    border-bottom: 1px #5DA130 solid;
    padding: 5px 5px 5px 5px;
    outline: none;
}

input + button {
    margin-left: 15px;
}